.sidebar {
  display: "flex";
  width: 250px; /*Adjust the width of the sidebar as needed*/
}

.sidebar p {
  padding: 0px 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
